body {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.invisible {
    display: none;
}

.attempt-text {
    font-weight: 700;
    font-size: 24px;

    padding: 3px 5px;

    background-color: #223823;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    height: 150px;
    background-color: lightcoral;
}

.header-title {
    font-size: 40px;
}

.body {
    height: 100%;
    background-color: rgb(153, 218, 93);
    height: calc(100vh - 150px);
    padding: 15px 30px;
    font-size: 20px;
}

.body-inner {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.ruleset {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: url(../assets/images/scroll-bg.jpg) transparent center / cover no-repeat;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0) inset;
    border: 1px solid rgba(0, 0, 0);
}


.prepare-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px
}

.attempts {
    height: 100%;
    background-color: #3d6740;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: beige;
    font-size: 20px;
}

.attempts p {
    margin: 15px;
    padding: 10px;
    max-height: 50px;
    min-width: 80%;
    border: 1px solid beige;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.app-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.digit-input {
    display: inline-block;
    font-size: 24px;
}

.digit-input input {
    width: 50px; 
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tip-cow {
    position: absolute;
    right: 0;
    top: 150px;
}

.tip-container {
    background: url(../assets/images/tip-container.png) transparent center / 100% 100% no-repeat;
    width: 800px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;

    position: absolute;
    right: 200px;
    top: 50px;

    font-size: 20px;
}

.tip-button {
    width: 300px;
    background-color: rgb(38, 38, 184);
    color: white;
    border: none;
}

.result-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    font-size: 24px;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.result-modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;

    background-color: #fff;

    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@media (max-width: 1023px) {
    .header {
        height: 100px;
    }
    .header-image {
        height: 75px;
    }
    .body {
        height: calc(100vh - 100px);
        font-size: 16px;
    }
    .body-inner {
        grid-template-columns: 1fr;
    }
    .tip-cow {
        height: 150px;
        width: 150px;
    }
    .tip-container {
        font-size: 16px;
        width: 500px;
        height: 200px;

        row-gap: 20px;
    }

    .tip-button {
        width: 200px;
    }

    .result-modal {
        font-size: 16px;
    }

    .result-modal-inner {
        row-gap: 30px;
        width: 400px;
        height: 300px;
    }
    .attempts {
        height: 50vh;
    }
}

@media (max-width: 767px) {
    .header {
        font-size: 25px;
    }
    .header-image {
        height: 40px;
    }
    .ruleset,
    .attempts {
        height: calc(100vh - 170px);
        margin-bottom: 20px;
    }
    .prepare-form,
    .app-form {
        height: 100vh;
    }
    .body {
        font-size: 14px;
        height: calc(200vh - 100px);
    }
    .tip-cow {
        top: calc(100px + 100vh);
        height: 100px;
        width: 100px;
    }
    .tip-container {
        top: calc(100vh);
        font-size: 14px;
        width: 300px;
        right: 50px;
        row-gap: 15px;
    }
    .tip-button {
        width: 100px;
    }

    .result-modal {
        font-size: 14px;
    }
    .attempts {
        font-size: 14px;
    }
    .attempt-text {
        font-size: 16px;
    }
}